:root {
  --white-gradient: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  --animationSpeed: 30s;
}

/* Animation */

@-webkit-keyframes scroll {
  to {
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@keyframes scroll {
  to {
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.slider {
  position: relative;
  background: white;
  /* background: rgba(255, 255, 255, 0); */
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 20vh;
  margin: auto;
  overflow: hidden;
  width: 100%;
}

.slider::before, 
.slider::after {
  position: absolute;
  background: var(--white-gradient);
  content: "";
  height: 20vh;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  display: inline-flex;
  -moz-animation: scroll 5var(--animationSpeed) infinite linear;
  -webkit-animation: scroll var(--animationSpeed) infinite linear;
  animation: scroll var(--animationSpeed) infinite linear;
  height: 100%;
  width: auto;
}

.slider .slide {
  height: 100%;
  width: 250px;
}

.slider .slide img {
  height: 100%;
  width: 100%;
}