/*
    Autor: CRISTOPHER DAVIS RAMIREZ SALVO
    Empresa: YOUR BEST DEV
    Web: https://yourbestdev.com
    Correo: contact@yourbestdev.net
*/

/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* DECLARACION DE VARIABLES GLOBALES */

:root {
    --ff-primary: 'Saira Semi Condensed', sans-serif;
    --fz-section-title: 3rem;
    --clr-first: #0c4190;
    --clr-first-alt: #0E49A2;
    --clr-second: #0B82C6;
    --clr-third: #1DC8C8;
    --clr-light: #eeeeee;
    --clr-dark: #141618;
}


/* CSS GLOBAL */
html {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-first);
    font-family: 'Saira Semi Condensed', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    transition: 5ms;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h2.section-title {
    font-size: var(--fz-section-title);
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    height: 2.8rem;
    padding-left: .7rem;
    border: 2px solid var(--clr-light);
    background-color: transparent;
    outline: none;
    transition: 0.2s; 
    color: var(--clr-light);
    font-family: var(--ff-primary);
    font-size: 1.3rem;
}

label {
    color: var(--clr-light);
    font-size: 1.3rem;
}

input[type="text"]:focus {
    border: 2px solid var(--clr-light); 
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    display: flex;
    gap: 1.5rem;
}

.border {
    border: 1px solid red;
}

.section-heading {
    background-color: var(--clr-first-alt);
    width: 100%;
    padding: 2.6rem 0 3.5rem;
    /* margin: 40px 0px;
    padding: 60px; */
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-heading {
    font-weight: 500;
    font-size: 1.5rem;
    max-width: 60%;
}

/* Botones */

.btn {
    width: 60%;
    border: 2px solid transparent;
    border-radius: 50px;
    font-size: 1.4rem;
    padding: .5rem ;
    color: var(--clr-light);
    cursor: pointer;
}

.btn:hover {
    border: 2px solid var(--clr-light);
}

.btn-transparent {
    background-color: transparent;
    border: 2px solid var(--clr-light);
    border-radius: unset;
    font-weight: 600;
    width: 10rem;
    height: 2.8rem;
    opacity: 1;
}

.btn-transparent:hover {
    opacity: .8;
}

.btn-primario {
    background: #1DC8C8;
}

.btn-cotizar {
    width: 30%;
    background: #1DC8C8;
}

.btn-submit {
    top: 0;
    right: -10rem;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* CSS DEL MENU*/

.header {
    padding: 1.3rem 0;
}

.nav {
    /* font-family: 'Saira Semi Condensed', sans-serif; */
    font-weight: 600;
    font-size: 1.5rem;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav ul li {
    padding-top: .5rem;
    text-align: center;
}

.nav ul a {
    position: relative;
    /* color: var(--clr-light); */
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    /* opacity: 1;
    transition: opacity 0.3s cubic-bezier(.51, .092, .24, 1); */
}

.nav ul li a::after {
    --scale: 0;
    content: '';
    position: absolute;
    margin-top: .1rem;
    left: 0; 
    right: 0;
    top: 100%;
    height: 4px;
    background: linear-gradient(135deg, #73fac8, var(--clr-third));
    transform: scaleX(var(--scale)); 
    transform-origin: center center;
    transition: transform .5s cubic-bezier(.51, .092, .24, 1);
}

/* .nav ul li:hover a {
    opacity: .8;
} */

.nav ul li:hover a::after {
    --scale: 1;
}

@media screen and (max-width: 768px) {
    .nav ul {
        flex-direction: column;
        justify-content: unset;
    }
}


/* SECCION DE INICIO */

#inicio {
    display: flex;
    width: 100%;
}

.info-cotiza {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.inicio-rigth{
    /* background-color: #0C4190; */
    padding: 80px 60px;
    flex: 0 1 50%;
}

.inicio-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding-left: 50px;
    flex: 0 1 50%;
}

.inicio-left h1{
    /* font-family: 'Saira Semi Condensed', sans-serif; */
    font-weight: 600;
    font-size: 60px;
    line-height: 40px;
}

.inicio-left p{
    /* font-family: 'Saira Semi Condensed', sans-serif; */
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 30px;
}

/* FORMULARIO COTIZACION */

.cotizacion-form-wrapper {
    background-color: var(--clr-first);
    padding: 1.5rem;
    margin: 1.5rem;
}

.cotizacion-form-wrapper label {
    display: block;
}

.cotizacion-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem 1.4rem;
}

.full-width {
    grid-column: 1 / 3;
}

.center-x {
    justify-self: center;
}

@media screen and (max-width: 780px) {
    .full-width {
        grid-column: unset;
    }

    .btn-transparent {
        width: 100%;
    }
}

/* .btn-cotizar{
    margin-top: 30px;
    padding: 5px;
    width: 120px;
    background: #1DC8C8;
    border-radius: 50px;
    font-size: 20px;
} */

/* SOBRE NOSOTROS */

#about{
    display: flex;
    background-color: #fff;
    height: 100vh;
    background-image: url(../img/rigth-about.svg);
    background-repeat: no-repeat;
    background-position: right;
}
#about .content-about{
    width: 70%;
}
.content-about{
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.content-about p{
    font-size: 20px;
    font-weight: 600;
}

/* SERVICIOS */

.services {
    /* background-color: #0C4190; */
}

.services .section-heading {
    background-color: var(--clr-first-alt);
    margin-top: 2.5rem;
}

/* .header-services{
    background-color: #0E49A2;
    width: 100%;
    margin: 40px 0px;
    padding: 60px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .header-services p{
    font-weight: 500;
    font-size: 1.5rem;
    max-width: 60%;
} */

/* .cards-services{
    max-width: 1200px;
} */

.contenedor-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* padding: 60px; */
    column-gap: 4rem;
    text-align: center;
    color: white;
}

.contenedor-cards .card-colum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0;
}

.card-ind-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    background-color: #0B82C6;
    height: 485px;
    margin-bottom: 20px;
}

.card-ind-service img {
    width: 100%;
    height: 300px;
}

.card-ind-service p {
    padding: .8rem;
    font-size: 20px;
    font-weight: 400;
    text-align: start;
}

.contenedor-cards .card-colum h3{
    font-size: 25px;
    font-weight: 500;
}
.contenedor-cards .card-colum p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.card-colum .card-info {
    padding: 0 .9rem;
}

/* CONTACT */

.contact {
    padding: 2.6rem 0;
    text-align: center;
}

.contact h2 {
    color: var(--clr-light);
    padding: 3.5rem 0;
}

.banner-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background: url(../img/business-man-show-increase-market-share-investment.jpg) no-repeat center top;
    background-size: cover;
    margin: 1.5rem 0 2.3rem;
}

.banner-contact::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(12, 65, 144, 0.65);
}

.banner-contact .info-contact {
    z-index: 1;
}

.banner-contact .info-contact h3 {
    font-size: 2.1rem;
    margin-bottom: 3.2rem;
}

.banner-contact .info-contact a {
   padding: .5rem 3rem;
   font-size: 1.4rem;
   font-weight: 600;
   cursor: pointer;
  /* transition: all 0.1s ease-in-out; */
}
.banner-contact .info-contact a:hover {
    border: 2px solid var(--clr-light);
}



/* FORMULARIO */

.contact h3 {
    color: var(--clr-light);
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    margin: .5rem 0 1rem;
}

.section-form {
    width: 75%;
    margin: 0 auto;
}

.formulario {
    /* display: grid;
    grid-template-columns: repeat(2, auto); */
    max-width: 61%;
}

.formulario .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.formulario .campo label {
    color: var(--clr-light);
    font-size: 1.3rem;
    text-align: left;
    margin: .2rem 0;
}

.formulario input[type="submit"] {
    align-content: flex-end;
}

/* .formulario .campo input[type="text"] {
    height: 2.8rem;
    padding-left: .7rem;
    border: 2px solid var(--clr-light);
    background-color: transparent;
    outline: none;
    transition: 0.2s; 
}

.formulario .campo input[type="text"]:focus {
    border: 2px solid var(--clr-light); 
} */

/* FOOTER */

.footer {
    color: var(--clr-light);
    padding: 2rem 0;
}

.footer .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* column-gap: 3rem; */
}
.footer .widget {
    margin: .5rem 0;
}

.footer .widget h3 {
    margin-bottom: 1rem;
}

.footer .widget a {
    display: block;
    text-decoration: none;
    margin-bottom: .5rem;
    cursor: pointer;
}

.footer .info-contact p {
    margin-bottom: .5rem;
}

.footer .info-contact span {
    display: block;
}



/* 
.bt-latir {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    display: flex;
  }
  
  .bt-latir::before, .bt-latir::after {
    content:"";
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border: 10px solid gray;
    border-radius:100%;
    animation: latido linear 3s infinite;
  }
  
  .bt-latir::after {
    animation-delay: -1.5s;
  }
  
  @keyframes latido {
    0% { width:70px; height:70px; border:10px solid gray; }
    100% { width:120px; height:120px; border:10px solid transparent; }
  }
  
 */