:root {
    --clr-second: #0B82C6;
    --clr-first: #0E49A2;
    --clr-third: #1DC8C8;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }
  
  /* Modal Content */
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: var(--clr-first);
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--clr-second);
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-animation: animatetop 0.4s;
    -webkit-animation: animatetop 0.4s;
    animation: animatetop 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

  
/* The Close Button */
.close {
    color: #aaaaaa;
    /* align-self: flex-end; */
    font-size: 2.5rem;
    font-weight: bold;
    /* margin-bottom: 10px; */
    position: absolute;
    top: -.3rem;
    right: 1.3rem;
}

.close::before {
    content: '×';
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}